{% extends 'layout.html' %}

{% block style_ext %}
	.controls ul { list-style: none; }
{% endblock %}

{% block title %}Authorize “{{ app_host }}”{% endblock %}

{% block content_generic %}

<h1>Authorize access for "{{ app_host }}"</h1>

{% include "message_box.html" %}

<div class="clearfix control-group">
	<form method="post">
		{% csrf_token %}

		<div class="controls">
			{{ form.as_p }}
		</div>

		<div class="form-actions">
			<button type="submit" name="authorize" value="allow" class="btn">Allow</button>
			<button type="submit" name="authorize" value="deny" class="btn">Deny</button>
		</div>
	</form>
</div>

{% endblock %}
