{% block license %}{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<title>Django.Unhosted : {% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="{{ url_res_bootsrap }}">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		{% block style_ext %}{% endblock %}
	</style>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

		{% block head_ext %}{% endblock %}
</head>

<body>


	{% url account:logout as url_logout %}
	{% url account:login as url_login %}
	{% url demo:storage_client as url_client %}
	{% if url_login and url_logout %}
	<div class="navbar navbar-fixed-top"><div class="navbar-inner">
	<div class="container">
		<span class="brand">acct:{{ request.user }}@{{ request.get_host }}</span>
		<ul class="nav">
			{% if request.user.is_authenticated %}
			<li><a href="{{ url_logout }}">Logout</a></li>
			<li><a href="{% url account:clients %}">Authorized Clients</a></li>
			{% else %}
			<li><a href="{{ url_login }}">Login</a></li>
			<li><a href="{% url account:signup %}">Signup</a></li>
			{% endif %}
			{% if url_client %}
			<li><a href="{{ url_client }}">Sample Client</a></li>
			{% endif %}
		</ul>
	</div>
	</div></div>
	{% endif %}

	<div class="row-fluid">
		{% block content %}{% endblock %}
	</div>

</body>
</html>
